.grille {
    border-spacing: 0;
}

td {
    padding-right: 12px;
    text-align: center;
}

.case {
    padding: 0;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.selected {
    background-color: yellow;
}

.noire {
    background-color: black;
}

.done {
    text-decoration: line-through;
}

/*div {
    width: 33%;
    float: left;
}
.tout {
    width: 100%;
    float: no;
}*/
