#grille {
    float: left;
    border-spacing: 0;
}

select {
    margin-bottom: 30px;
}

p {
    font-size: 0.5em;
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
}

span {
	position: relative;
	margin: 0;
	float: left;
	left: 32%;
	bottom: 16%;
	font-family: monospace;
	font-size: 1.4em;
	top: 0;
}

p:not(.full) {
	left: 3%;
	bottom: 30%;
}

p.full {
	bottom: 12%;
	left: -31%;
}

td {
    padding-right: 12px;
    text-align: center;
}

td:focus{
    outline: none;
}

.case {
    padding: 0;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
}

.cheater {
    background-color: blue;
}

.wrong {
    background-color: red;
}

.semi-selected {
    background-color: lightgray;
}

.semi-selected.cheater:not(.selected) {
    background-color: rgb(130, 130, 255);
}

.semi-selected.wrong:not(.selected) {
    background-color: rgb(255, 130, 130);
}

.selected {
    background-color: yellow;
}

.done {
    text-decoration: line-through;
}

.noire {
    background-color: black;
}

.done {
    text-decoration: line-through;
}

.clue-list {
    border: 1px solid gray;
    width: 300px;
    overflow: scroll;
    float: left;
}

.clearfix {
    clear: both;
}
